.card {
    max-width: 500px;
    padding: 20px;
    
    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 2px 2px rgb(246, 117, 117);
    border-radius: 4px;
    background-color: rgb(250, 201, 185);
    /* float: right; */
    /* position: relative; */
    /* top:-50%; */
    /* margin-right:20%; */
    /* margin-left: 20px; */
    margin-right: 40px;
    margin-top: 5%;
    border-radius: 25px;

  }
  
  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
  
  button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:140px;
  }
  
  .form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-actions button{
    background-color: rgb(222, 104, 104);
  }
  
  p {
    margin-top: 10px;
  }
  .title
  {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    font-size: 2cm;
    margin-top: 4%;
  }
  
  .title1
  {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    font-size: 1.5cm;
    margin-top: 4%;
  }
  .title2
  {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    font-size: 1.5cm;
    margin-top: 4%;
  }


  .heading
  {
    margin-top: 1%;
  }
  .regImg
  {
    /* width:50%;
    display:flex; */
  /* width: 650%;
  height:100%; */
  height: 900px;
  width:170%;
  }

  .img{
    background-image: url(../../assets/images/register-view-neww.avif);
    height: 1000px;
  }

  .card1{
    
    width: 50%;
    padding: 20px;
    margin-top: 35px;
    box-shadow: rgb(243, 136, 154);
    margin-left: 180px;
    border-radius: 50px;
    background-color: rgb(210, 153, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 250px;
    box-shadow: rgb(252, 183, 228) 20px 25px 3px;
  }