<div class="img">
<mat-card class="card">
    <mat-card-header>
      <mat-card-title style="color:rgb(215, 232, 31); font-size: 2em; padding: 5px;">Welcome</mat-card-title>

      <mat-card-subtitle style="color: rgb(246, 139, 62); font-size: 1em; padding: 5px;" >*** To Add the to-do list or Keep the time schedular list in our application please register and login kindly</mat-card-subtitle>
      
      <mat-card-subtitle style="color: rgb(3, 165, 240); font-size: 1em">** Please like and share our aplication and give your valuable rating</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end" class="subsribe">
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
<!-- <img class="image" src="../../assets/images/landing-view2.jpg"> -->

<div class="but1">
<button mat-raised-button class="login" style="background-color:rgb(222, 104, 104);"routerLink="/login">Login</button>
<button mat-raised-button class="register" style="background-color:rgb(222, 104, 104);" routerLink="/register">Register</button>
</div>
<!-- <div class="para">
  <p>Introducing our innovative list application, designed to streamline and enhance your <br> organizational experience. This intuitive tool empowers users to create,<br> manage, and prioritize lists effortlessly. Whether you're planning a project,<br> organizing tasks, or making a shopping list,our application<br>  offers a user-friendly interface and a host of features to simplify your life. </p>
  </div> -->
</div>

