<footer class="footer-section">
   <div class="footer-navigations">
    <div id="id1">
      <a  href="">ABOUT US</a>
    </div>  
    <div id="id2">
      <a  href="">SERVICES</a>
    </div> 
    <div id="id3">
      <a  href="">OUR WORK</a>
    </div> 
    <div id="id4">        
      <a  href="">CONTACT US</a>  
    </div> 
    <div id="id5">
    <p>Email :&nbsp;
      <a class="email-link" href="">hello@todo.com</a>
    </p> 
    </div>
</div>
    <div class="infoDiv">
      <p >Copyright © 2023 TO-DO</p>
      
    </div>
    <div class="info2">
      <a  href="">Security</a>
      <a  routerLink="/privacy">Privacy Policy</a>
    </div>
  </footer>
  <!-- <router-outlet></router-outlet> -->